<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= post.content %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= post.category %>
  </div>

 <p>
  <strong>Δημιουργός:</strong>
  <%= post.user.email %>
</p>

</div>
