<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<%= form_with url: posts_path, method: :get, class: "d-flex mb-4" do |f| %>
  <%= f.text_field :search, placeholder: "Αναζήτηση με τίτλο ή κατηγορία...", class: "form-control me-2" %>
  <%= f.submit "Αναζήτηση", class: "btn btn-outline-primary" %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
